<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://super-foundry-64.duckdns.org:42068/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="chatFile" />
        <input type='submit' value='Upload!' />
    </form>     
  </body>
</html>