<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
</head>

<body>
    <p>To use the log analyzer, you need to upload a log.<a href="upload">Click here</a> to upload one.</p>
</body>

</html>
